@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');

:root {
    --blue : #8DA3CA;
    --pink : #EFC4C3;
    --pink2 : #F4BABA;
    --purple : #e25c92e3;
    --pastelPink : #F5D6EA;
    --pastelBlue : #BCD9F1;
    --pink3 : rgb(255, 157, 157);
}

/* *{
    box-sizing: border-box;
} */

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-image: url(../img/diamond-bg2.jpg);
    /* min-height: 100vh; */
}

.bg-pastel-pink{
    background-color: var(--pastelPink);
    border-radius: 1rem;
    padding-top: 1rem;
    padding-left: 1rem;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
    margin-bottom: 1.5rem;
}

.bg-pastel-blue{
    background-color: var(--pastelBlue);
    border-radius: 1rem;
    margin-bottom: 1.5rem;
    padding-top: 1rem;
    padding-left: 1rem;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.4);
}

/* Navbar */
.my-navbar{
    background-color: var(--pink);
    font-weight: 600;
    box-shadow: 0 2px 2px rgba(204,175,191, 5);
    color: white;
}

.my-navbar a:hover{
    background-color: var(--blue);
    cursor:grabbing;
    border-radius: 10px;
}

.my-navbar .icon{
    font-size: 1.7rem;
}

/* Heroes Section */
.heroes{
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.918);
}

.heroes .desc{
    font-weight: 400;
    /* text-align: justify; */
}

.heroes .btn-more{
    background-color: var(--blue);
    border: 0.5px solid var(--pink);
    color: white;
    text-align: center;
    padding: 0.5rem 2rem 0.5rem 2rem;
    box-shadow: 0px 3px 3px rgba(204,175,191, 3);
}

.heroes .btn-more:hover{
    background-color: var(--pink);
    box-shadow: 0px 2px 2px rgba(0,0,0, 4);
    color: black;
    font-weight: 600;
    border: 0.5px solid var(--blue);
}


.carousel-item{
    height: 400px;
}


.carousel-item img{
    margin-top: 1rem;
}


/* About */

.section-title{
    color: var(--blue);
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-weight: 600;
    text-align: center;
    color: var(--blue);
    text-shadow: 4px 4px rgba(247,175,212,0.5);
}

#about{
    background-color: white;
}

/* Skill */
.card {
    width: 320px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 2rem;
  }
  
  .header {
    background-color: var(--blue);
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 18px;
  }
  
  .body {
    padding: 10px;
  }
  
  .skill {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .skill-name {
    width: 140px;
    font-size: 16px;
  }
  
  .skill-level {
    width: 160px;
    height: 10px;
    background-color: #eee;
    border-radius: 10px;
    overflow: hidden;
    margin-left: 20px;
  }
  
  .skill-percent {
    background-color: var(--blue);
    height: 100%;
  }
  
  .skill-percent-number {
    margin-left: 20px;
    font-size: 16px;
  }


/* Services */
#services .flip-card {
  background-color: transparent;
  width: 250px;
  height: 70px;
  perspective: 1000px;
  font-family: sans-serif;
  margin-bottom: 1rem;
}

#services .title {
  font-size: 1.5em;
  font-weight: 600;
  text-align: center;
  margin: 0;
}

#services .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

#services .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

#services .flip-card-front, .flip-card-back {
  box-shadow: 4px 4px rgba(160, 201, 255, 0.521);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid rgb(128, 147, 255);
  border-radius: 1rem;
}

#services .flip-card-front {
  background: linear-gradient(120deg, rgb(255, 164, 164) 60%, rgb(255, 179, 179) 88%,
     rgb(255, 211, 195) 40%, rgba(248, 123, 123, 0.753) 48%);
  color: white;
}

#services .flip-card-back {
  background: linear-gradient(120deg, rgb(255, 157, 157) 30%, rgb(255, 133, 133) 88%,
     bisque 40%, rgb(253, 176, 176) 78%);
  color: white;
  transform: rotateY(180deg);
}

/* Gallery */
#gallery .filter_buttons{
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

#gallery button{
    border: 1.5px solid var(--pink);
    background: var(--blue);
    box-shadow: 0px 1px 1px rgba(0,0,0, 0.5);
    color: white;
    border-radius: 5px;
}

#gallery button:hover{
  background-color: var(--purple);
}

#gallery button.aktif{
    background-color:var(--purple)
}

/* image cards */
#gallery .filterable_cards{
    display: flex;
    margin-top: 2rem;
    gap: 15px;
    flex-wrap: wrap;
}

#gallery .card{
    flex-grow: 1;
    flex-basis: 200px;
    padding: 3px;
    border-radius: 8px 8px 0px 0px;
    box-shadow: 0px 0.5px 0.5px rgba(0,0,0, 0.3);
}


#gallery .card.hide{
    display: none;
}

#gallery .card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px 8px 0px 0px;
}

#gallery .card-body{
    padding: 15px 20px 20px;
}

#gallery.card-title{
    font-size: 1rem;
}


/* Article */

#article .card {
    width: 300px;
    position: relative;
    background: rgb(255, 255, 255);
    padding: 20px;
  }
  
  #article .card::after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 50%;
    height: 10px;
    bottom: 15px;
    right: 0;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transform: rotate(5deg);
    transition: all 0.1s ease-in;
  }
  
  #article .card::before {
    z-index: -1;
    content: "";
    position: absolute;
    width: 50%;
    height: 10px;
    bottom: 15px;
    left: 0;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
    transform: rotate(-5deg);
    transition: all 0.1s ease-in;
  }
  
  #article  .card:hover:before, .card:hover:after {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.6);
  }
  
  #article  .card:hover:before {
    transform: rotate(-8deg);
  }
  
  #article  .card:hover:after {
    transform: rotate(8deg);
  }
  
  #article  .card__img {
    position: relative;
    background: url(../img/Pic-Article-food.jpg);
    background-size: cover;
    width: 100%;
    height: 175px;
  }
  #article  .card__img2 {
    position: relative;
    background: url(../img/Pic-article-tech.jpg);
    background-size: cover;
    width: 100%;
    height: 175px;
  }

  #article  .card__img3 {
    position: relative;
    background: url(../img/Pic-article-lingkungan.png);
    background-size: cover;
    width: 100%;
    height: 175px;
  }
  
  #article  .card__span {
    cursor: pointer;
    font-size: 11px;
    position: absolute;
    background-color: white;
    top: 10px;
    left: 10px;
    padding: 3px 7px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.1s ease-in;
    user-select: none;
  }
  
  #article  .card__span:hover {
    transform: translateX(5px);
  }
  
  #article  .card-int {
    padding: 20px 0 0 0;
  }
  
  #article  .card-int__title {
    font-weight: bold;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
  }
  
  #article  .card-int__button {
    cursor: pointer;
    margin: 20px 0 0 0;
    padding: 7px 20px;
    width: 100%;
    background-color: rgb(216, 255, 234);
    border: none;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0);
    transition: box-shadow 0.1s ease-in;
    user-select: none;
  }

  #article a .card-int__button {
    text-decoration: none;
    color: rgba(43, 43, 43, 0.781);
  }

  
  #article  .card-int__button:active {
    box-shadow: 0px 0px 15px rgba(0, 119, 255, 0.5);
  }
  
  #article  .card-int__button:hover::before {
    animation: effect_two 0.4s 1;
  }
  
  #article  .card-int__button::before {
    content: 'More for this article' ;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background: #007c0d;
    background: linear-gradient(315deg, #BCD9F1, #8DA3CA);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-99%);
    z-index: 1;
    animation: effect_one 10s infinite;
  }
  
  #article  .card-int__button:hover::before {
    transform: translateX(0%);
  }
  
  #article  .excerpt {
    font-size: 14px;
  }
  
  @keyframes effect_one {
    0% {
      transform: translateX(-99%);
    }
  
    25% {
      transform: translateX(-90%);
    }
  
    50% {
      transform: translateX(-80%);
    }
  
    75% {
      transform: translateX(-95%);
    }
  
    100% {
      transform: translateX(-99%);
    }
  }
  
  @keyframes effect_two {
    to {
      transform: translateX(-1%);
    }
  
    from {
      transform: translateX(-99%);
    }
  }

  /* Article.html */
.article1{
    margin-top: 1rem;
}

.article1 .article-title{
  font-size: 2rem;
  font-weight: 600; 
}


.comment .colorful-form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #a2befae3;
  border-radius: 10px;
}

.comment .form-group {
  margin-bottom: 20px;
}

.comment .form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.comment .form-input {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #fff;
  color: #333;
  border-radius: 5px;
}

.comment textarea.form-input {
  height: 100px;
}

.comment .form-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: var(--blue);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 3rem;
}

.comment .form-button:hover {
  background-color: var(--purple);
}


/* Contact */
.bg-contact{
  background-color:rgba(245, 245, 245, 0.863);
  border-radius: 0.5rem;
}

.bg-contact ul li{
  margin-left: 10px;
}

#contact .teks-contact{
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 1px;
  margin-left: 10px;
}

/* Form */
.form-comment .card {
  height: 26rem;
  background: lightgrey;
  /* background-color: #4158D0; */
  background-image: linear-gradient(43deg, #899dff 0%, #ffa7a7 46%, #ffa4f7 100%);
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  margin-top: 20px;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.384);
  transition: 0.5s ease-in-out;
}

.form-comment .heading {
  text-align: center;
  font-weight: 600;
  padding-top: 1rem;
  font-size: large;
}

.form-comment .input-div {
  display: flex;
  margin-top: 1rem;
  transition: 0.5s ease-in-out;
}

.form-comment .card input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  width: 15rem;
  padding: 8px;
  outline: none;
}

.form-comment .button-div {
  text-align: center;
}

.form-comment .submit {
  margin-top: 3rem;
  text-align: center;
  padding: 8px 3rem;
  border: none;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.493);
  color: white;
  transition: 0.5s ease-in-out;
  cursor: pointer
}

.form-comment .submit:hover {
  box-shadow: rgba(44, 43, 43, 0.664) 5px 5px, rgba(45, 45, 45, 0.3) 10px 10px, rgba(60, 59, 59, 0.2) 15px 15px, rgba(54, 53, 53, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.form-comment .card input::placeholder {
  color: black;
}

.form-comment .input:focus {
  transition: 0.2s ease-in-out;
  box-shadow: rgba(216, 216, 216, 0.486) 0px -23px 25px 0px inset, rgba(207, 207, 207, 0.137) 0px -36px 30px 0px inset, rgba(255, 69, 69, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.form-comment .input:hover {
  transition: 0.2s ease-in-out;
  box-shadow: rgba(216, 216, 216, 0.486) 0px -23px 25px 0px inset, rgba(207, 207, 207, 0.137) 0px -36px 30px 0px inset, rgba(255, 69, 69, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}


/* Footer */
.copy {
    background-color: #F79092;
    padding: 10px;
    font-size: 12px;
    text-align: center;
    color : white;
    margin-bottom: 0px;
}


/* Medium */
@media (max-width : 768) {
    html{
        font-size: 60%;
    }

}

/* Small */
@media (max-width:576){
    html{
        font-size: 60%;
    }
}